@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/*---Cores---*/
/*---Titulo---*/
.titulo2 {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titulo2 h1 {
  font-size: 3rem;
  font-weight: 400;
  color: #ffffff;
}

/*---Serviços---*/
.servicos {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.servico {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
}
.servico img {
  width: 100%;
  height: 40vh;
}
.servico h3 {
  font-size: 2rem;
  margin-top: 10px;
  font-weight: 400;
}
.servico p {
  font-size: 1.3rem;
  margin-top: 10px;
  text-align: justify;
}

/*---Responsividade---*/
@media screen and (max-width: 768px) {
  .servico {
    width: 70%;
  }
}
/*---Cores---*/
/*---Contato---*/
.contato {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
}
.contato h1 {
  font-size: 5rem;
  font-weight: 400;
}
.contato p {
  font-size: 2rem;
  margin-top: 10px;
}

/*---Icones---*/
.icones {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 1rem;
}
.icones i {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6D4B2E;
  border: 2px solid #a37247;
  border-radius: 50px;
  font-size: 3.3rem;
  cursor: pointer;
  transition-duration: 0.5s;
}
.icones i:hover {
  background-color: #a37247;
}

/*---Responsividade---*/
@media screen and (max-width: 768px) {
  .contato h1 {
    font-size: 4rem;
  }
  .contato p {
    font-size: 1.2rem;
  }
  .icones i {
    width: 70px;
    height: 70px;
    font-size: 3rem;
  }
}
/*---Cores---*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #3a2718;
}

/*---Menu---*/
.menu {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.menu li {
  display: inline-block;
}
.menu a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
  transition-duration: 0.5s;
}
.menu a:hover {
  color: #a37247;
}
.menu button {
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1rem;
  background-color: #a37247;
  cursor: pointer;
}
.menu span {
  padding: 10px 10px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #a37247;
  cursor: pointer;
  display: none;
}

/*---Logo---*/
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  gap: 5px;
}
.logo img {
  width: 50px;
  height: 50px;
}
.logo h3 {
  font-size: 2rem;
  font-weight: 400;
}

/*---Banner---*/
.banner {
  width: 100%;
  height: 70vh;
  padding: 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../Img/banner.jpg);
  background-position: center;
  background-size: cover;
}
.banner h1 {
  font-size: 5rem;
  font-weight: 400;
  color: #ffffff;
  margin-top: 5rem;
}
.banner p {
  color: #ffffff;
  font-size: 1.2rem;
  width: 50%;
  text-align: justify;
  margin-top: 10px;
}
.banner button {
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: #a37247;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 10px;
}

/*---Titulo---*/
.titulo {
  width: 100%;
  padding: 20px;
}
.titulo h2 {
  font-size: 1.7rem;
  font-weight: 400;
  color: #ffffff;
}

/*---Cards---*/
.cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 15px;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  background-color: #0e0e0e;
  border: 2px solid #a37247;
  color: #ffffff;
}
.card img {
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.card h3 {
  font-size: 1.7rem;
  font-weight: 400;
  margin-top: 10px;
}
.card p {
  font-size: 1rem;
  text-align: justify;
}
.card button {
  width: 40%;
  height: 40px;
  border: none;
  outline: none;
  margin-top: 10px;
  font-size: 1.1rem;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #a37247;
  transition-duration: 0.5s;
  border-radius: 5px;
  cursor: pointer;
}
.card button:hover {
  background-color: #a37247;
}

/*---Estrelas---*/
.estrelas {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  margin-top: 10px;
}
.estrelas i {
  font-size: 1.3rem;
  color: #ffef5f;
}

/*---Copyright---*/
.copyright {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e0e0e;
}
.copyright h4 {
  color: #ffffff;
  font-weight: 400;
  font-size: 1.4rem;
}

/*---Responsividade---*/
@media screen and (max-width: 768px) {
  .menu span {
    display: block;
  }
  .menu ul {
    width: 35%;
    display: none;
    right: 0;
    top: 10%;
    position: absolute;
    background-color: #3a2718;
    padding: 5px;
  }
  .menu li {
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .menu a {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .banner {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .banner h1 {
    font-size: 2rem;
    margin-top: 0rem;
  }
  .banner p {
    width: 100%;
  }
  .card {
    width: 90%;
  }
  .card button {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */