@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import './colors';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: $color-dark_brown;
}

/*---Menu---*/
.menu{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    li{
        display: inline-block;
    }
    a{
        color: $color-white;
        text-decoration: none;
        margin-right: 10px;
        margin-left: 10px;
        transition-duration: 0.5s;
        &:hover{
            color: $color-light_brown;
        }
    }
    button{
        padding: 10px 30px;
        border: none;
        border-radius: 5px;
        color: $color-white;
        font-size: 1rem;
        background-color: $color-light_brown;
        cursor: pointer;
    }
}

/*---Logo---*/
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    gap: 5px;
    img{
        width: 50px;
        height: 50px;
    }
    h3{
        font-size: 2rem;
        font-weight: 400;
    }
}

/*---Banner---*/
.banner{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../Img/banner.jpg);
    background-position: center;
    background-size: cover;
    h1{
        font-size: 5rem;
        font-weight: 400;
        color: $color-white;
        margin-left: 10px;
    }
    p{
        color: $color-white;
        font-size: 1.5rem;
    }
}

/*---Titulo---*/
.titulo{
    width: 100%;
    padding: 20px;
    h2{
        font-size: 1.7rem;
        font-weight: 400;
        color: $color-white;
    }
}

/*---Cards---*/
.cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 15px;
    flex-wrap: wrap;
}

.card{
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    background-color: $color-black;
    border: 2px solid $color-light_brown;
    color: $color-white;
    img{
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }
    h3{
        font-size: 1.7rem;
        font-weight: 400;
        margin-top: 10px;
    }
    p{
        font-size: 1rem;
        text-align: justify;
    }
    button{
        width: 40%;
        height: 40px;
        border: none;
        outline: none;
        margin-top: 10px;
        font-size: 1.1rem;
        color: $color-white;
        background-color: transparent;
        border: 1px solid $color-light_brown;
        transition-duration: 0.5s;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
            background-color: $color-light_brown;
        }
    }
}

/*---Estrelas---*/
.estrelas{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    margin-top: 10px;
    i{
        font-size: 1.3rem;
        color: $color-yellow;
    }
}

/*---Copyright---*/
.copyright{
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-black;
    h4{
        color: $color-white;
        font-weight: 400;
        font-size: 1.4rem;
    }
}

/*---Responsividade---*/
@media screen and (max-width: 768px) {
    .banner{
        height: 30vh;
        h1{
            font-size: 2rem;
        }
    }

    .card{
        width: 90%;
        button{
            width: 100%;
        }
    }
}